<div id="layer_<%= layer.id %>" class="panel panel-default layer-sortable" style="margin-bottom: 10px;">
	<div class="panel-heading">
    <small>
      <input type="checkbox" value="<%= layer.id %>" <% if (layer.visible === "true") { %>checked<% } %>>
      &nbsp;<%= _.str.truncate(layer.name,30) %>
    </small>
    <span class="glyphicon glyphicon-th pull-right drag-handle" style="color: #999;"></span>
  </div>
  <div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;">
    <%- partial("style_type_dropdown.ejs",{layer: layer}) %>
    <div class="layer-forms">
      <% var type = layer.styles.type %>
      <% if (layer.geometryType === "Point") { %>
        <%- partial("_point_" + type + "_form.ejs",{style: layer.styles.simple, layerID: layer.id}) %>
      <% } %>
      <% if (layer.geometryType === "Polygon") { %>
        <%- partial("_polygon_" + type + "_form.ejs",{style: layer.styles.simple, layerID: layer.id}) %>
      <% } %>
      <% if (layer.geometryType === "LineString") { %>
        <%- partial("_line_" + type + "_form.ejs",{style: layer.styles.simple, layerID: layer.id}) %>
      <% } %>
    </div>
    <div style="padding-top: 5px; padding-bottom: 5px;">
      <small class="text-muted">
        <span class="badge"><%= layer.totalFeatures %></span>
        Showing All Features
      </small>
      <span id="layer_<%= layer.id %>_remove" class="remove-layer glyphicon glyphicon-remove pull-right" style="color: red;"></span>
    </div>
  </div>
</div>
