<% var style = layer.styles.category %>
<div class="layer-form">
	<div class="row">
		<span class="description">Column</span>
		<span id="layer_<%= layer.id %>_0" class="pull-right brushes">
			<%- partial("_style_field_dropdown.ejs", {fields: style.fieldHeaders, selectedField: style.field, layer: layer}) %>
		</span>
	</div>
	<div class="row">
		<span class="description">Line Stroke</span> 
		<span id="stroke_<%= layer.id %>_0" class="pull-right brushes">
			<%- partial("_form_weight.ejs",{weight: style.stroke.weight}) %> 
			<%- partial("_form_opacity.ejs",{opacity: style.stroke.opacity, layerID: layer.id, categoryID: 0}) %>
		</span>
	</div>
	<% _.each(style.fieldValuesCount,function(fieldValue,index) { %>
		<div class="row">
			<span class="badge" style="font-size: 10px; width: 40px; background-color: white; position: relative; top: 4px; border: 1px solid #666666; color: #666666;"><%= fieldValue[1] %></span>&nbsp;
			<span class="description"><%= _.str.truncate(fieldValue[0],15) %></span>
			<span id="fill_<%= layer.id %>_<%= index %>" class="pull-right brushes">
				<%- partial("_form_color.ejs",{color: style.fieldFillColor[index]}) %>
			</span>
		</div>
	<% }); %>
</div>