include _m_layer_style_forms

mixin line_simple_form(layer)
	- var style = layer.styles.simple 
	.layer-form
		.row
			span.description
				| Line Stroke
			span.pull-right.brushes(id="stroke_#{layer.id}_0")
				+form_weight(style.stroke.weight)
				| 
				+form_color(style.stroke.color)
				| 
				+form_opacity(style.stroke.opacity,layer.id,0)

mixin line_category_form(layer)
	- var style = layer.styles.category
	.layer-form
		.row
			span.description
				| Column
			span.pull-right.brushes(id="layer_#{layer.id}_0")
				+style_field_dropdown(style.fieldHeaders,style.field,layer)
		.row
			span.description
				| Line Stroke
			span.pull-right.brushes(id="stroke_#{layer.id}_0")
				+form_weight(style.stroke.weight)
				| 
				+form_opacity(style.stroke.opacity,layer.id,0)
		
		- each fieldValue, index in style.fieldValuesCount
			.row
				span.badge(style="font-size: 10px; width: 40px; background-color: white; position: relative; top: 4px; border: 1px solid #666666; color: #666666;")
					= fieldValue[1]
				span.description
					|  
					= _.str.truncate(fieldValue[0],15)
				span.pull-right.brushes(id="stroke_#{layer.id}_#{index}")
					+form_color(style.fieldFillColor[index])
		
		- if (style.fieldValuesOthersCount != 0)
			.row
				span.badge(style="font-size: 10px; width: 40px; background-color: white; position: relative; top: 4px; border: 1px solid #666666; color: #666666;")
					= style.fieldValuesOthersCount
				span.description 
					|  
					| Others
				span.pull-right.brushes(id="stroke_#{layer.id}_others")
					+form_color(style.fieldOthersFill)

mixin line_choropleth_form(layer)
	- var style = layer.styles.choropleth
	.layer-form
		.row
			span.description
				| Column
			span.pull-right.brushes(id="layer_#{layer.id}_0")
				+style_field_dropdown(style.fieldHeaders,style.field,layer)
		.row
			span.description
				| Line Stroke
			span.pull-right.brushes(id="stroke_#{layer.id}_0")
				+form_weight(style.stroke.weight)
				| 
				+form_opacity(style.stroke.opacity,layer.id,0)
		.row
			span.description
				| Buckets
			span.pull-right.brushes(id="buckets_#{layer.id}_0")
				+layer_style_dropdown(["3 Buckets","5 Buckets","7 Buckets"],style.bucketCount + " Buckets",layer,"buckets")
		.row
			span.description
				| Classification
			span.pull-right.brushes(id="classification_#{layer.id}_0")
				+layer_style_dropdown(["Equal Intervals","Quantiles","Standard Deviation","Maximum Breaks","Jenks","Heads/Tails"],style.classification,layer,"classification")
		- if (style.fieldBreaks != undefined)
			- each fieldBreak, index in style.fieldBreaks
				- if (index != (style.fieldBreaks.length - 1))
					.row
						span.description
							- console.log(fieldBreak);
							- console.log(style.fieldBreaks[index + 1]);
							= parseFloat(fieldBreak).toFixed(2) + " ~ " + parseFloat(style.fieldBreaks[index + 1]).toFixed(2)
						span.pull-right.brushes(id="fill_#{layer.id}_#{index}")
							+form_color(style.fieldFillColor[index])


