include _m_layer_style_forms

mixin point_simple_form(layer)
	- var style = layer.styles.simple
	.layer-form
		.row
			span.description
				| Point Fill
			span.pull-right.brushes(id="fill_#{layer.id}_0")
				+form_radius(style.radius)
				| 
				+form_color(style.fill.color)
				| 
				+form_opacity(style.fill.opacity,layer.id,0)
		.row
			span.description
				| Point Stroke
			span.pull-right.brushes(id="stroke_#{layer.id}_0")
				+form_weight(style.stroke.weight)
				| 
				+form_color(style.stroke.color)
				| 
				+form_opacity(style.stroke.opacity,layer.id,0)

mixin point_category_form(layer)
	- var style = layer.styles.category
	.layer-form
		.row
			span.description
				| Column
			span.pull-right.brushes(id="fill_#{layer.id}_0")
				+layer_style_dropdown(style.fieldHeaders,style.field,layer,"field")
		.row
			span.description
				| Point Fill
			span.pull-right.brushes(id="fill_#{layer.id}_0")
				+form_radius(style.radius)
				| 
				+form_opacity(style.fill.opacity,layer.id,0)
		.row
			span.description
				| Point Stroke
			span.pull-right.brushes(id="stroke_#{layer.id}_0")
				+form_weight(style.stroke.weight)
				| 
				+form_color(style.stroke.color)
				| 
				+form_opacity(style.stroke.opacity,layer.id,0)
		- var sum = style.fieldValuesCount[0][1]
		- each fieldValue, index in style.fieldValuesCount
			.row
				div
					span.description
						- var label = fieldValue[0] == "" ? "No Value" : fieldValue[0]
						= label
					- var badgeFill = style.fieldVisibility[index].toString() === "true" ? "#DDD" : "#FFF"
					span.pull-right.badge(id="badge_#{layer.id}_#{index}" style="font-size: 10px; width: 40px; background-color: #{badgeFill}; position: relative; top: 4px; border: 1px solid #666666; color: #666666;")
						= fieldValue[1]
				div.progressColorPicker(id="progressbar_stroke_#{layer.id}_#{index}")
					- var progressWidth = Math.round((parseInt(fieldValue[1])/sum)*100)
					input.colorPicker(id="progressbar_#{layer.id}_#{index}_#{progressWidth}" value="#{style.fieldFillColor[index]}")

		- if (style.fieldValuesOthersCount != 0)
			.row
				div
					span.description 
						| Others
					- var badgeFill = style.fieldVisibilityOthers.toString() === "true" ? "#DDD" : "#FFF"
					span.pull-right.badge(id="badge_#{layer.id}_others" style="font-size: 10px; width: 40px; background-color: #{badgeFill}; position: relative; top: 4px; border: 1px solid #666666; color: #666666;")
						= style.fieldValuesOthersCount
				div.progressColorPicker(id="progressbar_stroke_#{layer.id}_others")
					input.colorPicker(id="progressbar_#{layer.id}_others_#{progressWidth}" value="#{style.fieldOthersFill}")

mixin point_choropleth_form(layer)
	- var style = layer.styles.choropleth
	.layer-form
		.row
			span.description
				| Column
			span.pull-right.brushes(id="fill_#{layer.id}_0")
				+layer_style_dropdown(style.fieldHeaders,style.field,layer,"field")
		.row
			span.description
				| Point Fill
			span.pull-right.brushes(id="fill_#{layer.id}_0")
				+form_radius(style.radius)
				| 
				+form_opacity(style.fill.opacity,layer.id,0)
		.row
			span.description
				| Point Stroke
			span.pull-right.brushes(id="stroke_#{layer.id}_0")
				+form_weight(style.stroke.weight)
				| 
				+form_color(style.stroke.color)
				| 
				+form_opacity(style.stroke.opacity,layer.id,0)
		.row
			span.description
				| Buckets
			span.pull-right.brushes(id="buckets_#{layer.id}_0")
				+layer_style_dropdown(["3 Buckets","5 Buckets","7 Buckets"],style.bucketCount + " Buckets",layer,"buckets")
		.row
			span.description
				| Classification
			span.pull-right.brushes(id="classification_#{layer.id}_0")
				+layer_style_dropdown(["Equal Intervals","Quantiles","Standard Deviation","Maximum Breaks","Jenks","Heads/Tails"],style.classification,layer,"classification")
		- if (style.fieldBreaks != undefined)
			- each fieldBreak, index in style.fieldBreaks
				- if (index != (style.fieldBreaks.length - 1))
					.row
						span.description
							= fieldBreak.toFixed(2) + " ~ " + style.fieldBreaks[index + 1].toFixed(2)
						span.pull-right.brushes(id="fill_#{layer.id}_#{index}")
							+form_color(style.fieldFillColor[index])




